#main-container header #menu{
    padding: 0px 0;
  }
  
  header #menu ul{
    margin: 0;
    padding: 0;
    margin-left: 70%;
  }
  
  header #menu ul li{
    display: inline-block;
    padding: 10px;
    vertical-align: middle;
    
  }
  
  header #menu ul li a{
  
    color: black;
    text-decoration: none;
  }
  
  header #menu ul li a:hover{ /* Para hacerlo requisito funcional */
    color: red;
    text-align: right;
  }