*{
  padding:0;
  margin:0;
  /* Se usa para visualizar las cuadriculas border:solid 1px black;*/
}

body{ /*Para dar formato a una etiqueta especifica se pone # cuando es id y se pone . cuando es clase*/
  background-color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Helvetica, sans-serif;
  font-size: 18px;
}

header{
  background-image: url(../public/Header1.jpg);
  background-size: cover; 
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh; /* se redimensiona segun el tamaño de la pantalla */
  color: white;
  position: absolute;
  margin-top: 0;  
  left: 0;
  width: 100%;
  max-height: 550px;
    
}

#main-container header #menu{
  padding: 0px 0;
}

header #menu ul{
  margin: 0;
  padding: 0;
  margin-left: 70%;
}

header #menu ul li{
  display: inline-block;
  padding: 10px;
  vertical-align: middle;
  
}

header #menu ul li a{

  color: black;
  text-decoration: none;
}

header #menu ul li a:hover{ /* Para hacerlo requisito funcional */
  color: red;
  text-align: right;
}


.text{
  text-align: center;
  color: black;
  margin-top: 25px;
}

/* ********************************** Diseñando Main ********************************/

.productos{
  text-align: center;
  margin-top: 420px;
  color: black;
  overflow: visible;
  vertical-align: auto;
}

.paragraph{
  text-align: center;
  margin-top: 0px;
  color: black;
  overflow: visible;
  vertical-align: auto;
}

/* ********************************** Diseñando Productos ********************************/

.layout{ /* Se usa el punto para aplicar formato a las 2 diviones de layout (right and left) */

  width: 1280px;
  margin: 40px auto;
}

.layout div{
  display: inline-block;
  vertical-align: middle;
}

.layout h3{
  font-size: 48px;
  padding: 25px 0;
}

.layout p{
  padding: 25px 0;
  line-height: 32px; /* Interlineado de texto */
}

.layout-left .text{
  width: 850px;;
}

.layout-left .image{
    
  text-align: center;
}

.layout-right .text{
  width: 500px;;
}

.layout-right .image{
  width: 770px;;
  text-align: center;
}

.button{ /* Este es el boton de AGREGAR CARRITO */
  display: inline-block;
  background-color: #2091F9;
  justify-self: center;
  color: white;
  text-decoration: none;
  padding: 13px 30px;
  border-radius: 32px;
  text-align: center;
  margin-left: 45%;
}

/* ********************************** Diseñando Presentacion ********************************/

.testimony_container{
  margin-top: 50px;
  color: black;
  margin-left: 70px;
  text-align: center;
}

.testimony_img{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  object-position: 50% 30%;
}


/* ********************************** Diseñando Footer ********************************/

.footer{
  background-color: black;
  padding: 10px 10px;
  color: white;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 50px;
  font-size: 10px;
}

/* ********************************** Parte React ********************************/

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
